.picture{
  border-radius: 8px;
}

.name {
  font-family: monospace;
}

.biobox {
  font-family: monospace;
  font-size: 1em;

  border-style: double;
  border-width: 8px;
  width: 600px;
  padding: 10px 10px 10px 10px;
  border-color: black;

  outline-style: solid;
  outline-color: #7c0c18;
  outline-width: 6px;
}

.newstitle{
  font-family: monospace;
  color: white;
  background-color: #be172e;
  width: 600px;
  padding: 20px 10px 20px 10px;
  margin-bottom: 20px;
  text-align: center;
}

.newsite{
  font-family: monospace;
  color: white;
  background-color: #ee4c56;
  padding: 20px 10px 20px 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  text-align: center;
  float: left;
}

.clear{
  clear: left;
}
