.header_container{
  background-color: white;
  max-width: 768px;
}

.name_container{
  font-family: monospace;
  font-size: 2em;
  background-color: #fcc37b;
  width: 364px;
  padding: 10px 10px 10px 10px;
  float: left;
}

.greeting_container{
  background-color: white;
  width: 364px;
  padding: 10px 10px 10px 10px;
  float: left;
}

#greeting {
  font-size: 1em;
  font-family: monospace;
  background-color: #fcc37b;
  width: 357px;
  padding: 1px 1px 1px 1px;
  margin: 1px 1px 1px 1px;
  border-style: solid;
  border-width: 3px;
  border-color: #999999;
  }

#weatherTucson {
  font-size: 1em;
  font-family: monospace;
  background-color: #fcc37b;
  width: 357px;
  padding: 1px 1px 1px 1px;
  margin: 1px 1px 1px 1px;
  border-style: solid;
  border-width: 3px;
  border-color: #999999;
}

.content_container{
  background-color: white;
  max-width: 768px;
}

.img_container{
  background-color: white;
  height: 200px;
  width: 356px;
  padding: 5px 5px 5px 5px;
  margin: 5px 8px 5px 8px;
  float: left;
  overflow: hidden;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  outline-style: solid;
  outline-color: #fcc37b;
  outline-width: 3px;
}

.bio_container{
  font-size: 1em;
  text-align: left;
  font-family: monospace;
  background-color: white;
  height: 200px;
  width: 346px;
  padding: 5px 5px 5px 5px;
  margin: 5px 8px 5px 8px;
  float: left;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  outline-style: solid;
  outline-color: #fcc37b;
  outline-width: 3px;
}

.map_container{
  background-color: white;
  max-width: 768px;
}

#mapid {
  height: 400px;
  width: 378px;
  float: left;
  border-style: solid;
  border-width: 3px;
  border-color: black;
}

#sheet {
  width: 378px;
  height: 400px;
  overflow: scroll;
  float: left;
  border-style: solid;
  border-width: 3px;
  border-color: black;
}

.cell {
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 5px 5px;
  border-width: 3px;
  border-color: black;
  outline-style: solid;
  outline-color: #fcc37b;
  outline-width: 3px;
}

.cell_name {
  font-family: monospace;
  font-size: 1em;
}

.cell_address {
  font-family: monospace;
  font-size: .9em;
}

.cell_url {
  font-family: monospace;
  font-size: .9em;
}

.cell_phone {
  font-family: monospace;
  font-size: .9em;
}

#rss_items {
  width: 768px;
  height: 200px;
  padding: 5px 5px 5px 5px;
  margin: 5px 5px 15px 5px;
  overflow: scroll;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  outline-style: solid;
  outline-color: #fcc37b;
  outline-width: 3px;
}

.rss_title {
  font-family: monospace;
  font-size: 1em;
}

.rss_description {
  font-family: monospace;
  font-size: 1em;
  padding-top: 5px;
  padding-bottom: 20px;
}

.clear{
  clear: left;
}
