.name_container{
  background-color: white;
  width: 344px;
  padding: 20px 20px 20px 20px;

  font-family: monospace;
  font-size: 2.5em;
}

.content_container{
  background-color: white;
  max-width: 768px;
}

.img_container{
  background-color: white;
  height: 374px;
  width: 335px;
  margin: 5px 8px 5px 8px;
  float: left;
  overflow: hidden;

  border-style: solid;
  border-width: 3px;
  border-color: black;

  outline-style: solid;
  outline-color: #7c0c18;
  outline-width: 3px;
}

.bio_container{
  background-color: white;
  height: 364px;
  width: 335px;
  padding: 5px 5px 5px 5px;
  margin: 5px 8px 5px 8px;
  float: left;

  font-size: 1em;
  text-align: left;
  font-family: monospace;

  border-style: solid;
  border-width: 3px;
  border-color: black;

  outline-style: solid;
  outline-color: #7c0c18;
  outline-width: 3px;
}

.news_container{
  background-color: white;
  width: 344px;
  padding: 10px 10px 10px 10px;
}

.newstitle{
  background-color: #be172e;
  padding: 20px 10px 20px 10px;
  margin-bottom: 20px;

  color: white;
  font-family: monospace;
  text-align: center;
}

.newsite{
  background-color: #ee4c56;
  padding: 20px 10px 20px 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  float: left;

  font-family: monospace;
  color: white;
  text-align: center;
}

.clear{
  clear: left;
}
